<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    Hello <%=username%>
    <script>
        window.onbeforeunload = (e) => {
            const request = new XMLHttpRequest();
            const username = window.location.search.slice(3)
            request.open("POST", "userLeft")
            request.setRequestHeader('Content-type', 'application/json');
            request.send(JSON.stringify({username: username}));
        }
    </script>
</body>
</html>