<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <style>
        body {
            margin: 0;
            height: 100vh;
            overflow: hidden;
        }
        #grid-container {
            display: grid;
            grid-template-columns: 250px auto;
            grid-template-rows: 50px auto 40px;
            min-height: 100%;
            height: 100%;

        }
        .grid-item {
            border: 1px solid black;
        }
        .grid-item-1 {
            grid-column: span 2;
        }
        .grid-item-2 {
            grid-row: span 2;
            overflow: auto;
        }
        .grid-item-3 {
            overflow:auto
        }
        .grid-item-4 {
            grid-column: 2 / 3;
        }
        @media screen and (max-width: 600px) {
            .grid-item-2 {
                display: none;
            }
            .grid-item-3 {
                grid-column: span 2;
            }
            .grid-item-4 {
                grid-column: span 2;
            }

        }
        </style>

        <div id="grid-container">
            <div class="grid-item grid-item-1">
                <button id="menu">Menu</button>
            </div>
            <div class="grid-item grid-item-2">
                <p>menu panel</p>
                <p>menu panel</p>
                <p>menu panel</p>
                <p>menu panel</p>
                <p>menu panel</p>
                <p>menu panel</p>
                <p>menu panel</p>
                <p>menu panel</p>
                <p>menu panel</p>
            </div>
            <div class="grid-item grid-item-3">
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
                <p>chat window</p>
            </div>
            <div class="grid-item grid-item-4">4</div>
        </div>
        <script>
            let menuWindow = null
            document.querySelector("#menu").addEventListener("click", () => {
                document.body.appendChild(menuWindow)
            })
            window.addEventListener('resize', () => {
                menuPanelType()
                if (document.querySelector("#menu-panel")) {
                    document.querySelector("#menu-panel").remove()
                    document.body.appendChild(menuWindow)
                }
            })

            function menuPanelType() {
                if (window.innerWidth <=600) {
                    const menuPanel = document.createElement('div')
                    menuPanel.id="menu-panel"
                    const style = menuPanel.style
                    style.position = 'absolute'
                    style.top = 0
                    style.left = 0
                    style.width = window.innerWidth + 'px'
                    style.height = window.innerHeight + 'px'
                    style['background-color'] = "hsl(180, 100%, 50%)"
                    menuPanel.innerHTML = "<600"
                    menuWindow = menuPanel
                } else {
                    const menuPanel = document.createElement('div')
                    menuPanel.id="menu-panel"
                    const style = menuPanel.style
                    style.position = 'absolute'
                    style.top = 0
                    style.left = 0
                    style.width = 250 + 'px'
                    style.height = window.innerHeight + 'px'
                    style['background-color'] = "hsl(180, 100%, 50%)"
                    menuPanel.innerHTML = "<p>>600 click me</p>"
                    menuPanel.addEventListener("mouseover", (e) => {

                    })
                    menuWindow = menuPanel

                }
            }
            menuPanelType()
            window.addEventListener('click', e => {
                if (document.querySelector('#menu-panel')) {
                    if (!hasAncestorById(e.target, 'menu-panel') && e.target.id !== 'menu') {
                        document.querySelector('#menu-panel')?.remove()
                    }
                }
                function hasAncestorById(node, id) {
                    if (node === document.body) return false
                    if (node.id === id) return true
                    return hasAncestorById(node.parentNode, id)

                }
            })

        </script>

  
    <script>
        window.onbeforeunload = (e) => {
            const request = new XMLHttpRequest();
            const username = window.location.search.slice(3)
            request.open("POST", "userLeft")
            request.setRequestHeader('Content-type', 'application/json');
            request.send(JSON.stringify({username: username}));
        }
    </script>
</body>
</html>